body {
    margin:0;
    padding:0;
    --main-color: #003466;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    --accent-color: #f1c40f;
    overflow-y: hidden;
}

#menutoggle {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 20px;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;

    background-color: var(--accent-color);
    border-radius: 50%;
    transition: top 0.5s, bottom 0.5s;
}

#menutoggle.hidden {
    bottom: auto;
    top: 110%;
}

#mainmenu {
    z-index: 150;
    background-color: var(--accent-color);
    /*margin: 20px;*/
    width: 100%;
    max-width: 500px;
    height: 200px;

    color: white;
    position: absolute;

    top: auto;
    bottom: 90px;

    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 0.5s;
}

#mainmenu.hidden {
    transform: translate(-50%, calc(100% + 100px));
}

#map { position:absolute; top:0; bottom:0; width:100%; height: 100%}

.mapboxgl-popup-content h3 {
    background: var(--accent-color);
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
}

.mapboxgl-popup-content .popupDescription {
    padding: 10px;
}

.mapboxgl-popup-content {
    padding: 0;
    width: 250px;
    background-color: var(--main-color);
}

.mapboxgl-popup-content a {
    color: var(--accent-color);
}


.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--accent-color);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--accent-color);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--accent-color);
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: var(--accent-color);
}
